* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  color: var(--dark);
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
